<footer>
        <div class="customRow">
            
            <div class="customCol">
                <p><strong>Address</strong><br>
                General Luna, Siargao Island, Surigao Del Norte, 1234, Philippines
                </p>
            </div>
            <div class="customCol">
                <p><strong>Contact Number</strong><br>
                +63 123 456 7890<br>
                +63 098 765 4321<br>
                (02) 9876 543<br><br>
                </p>
            </div>
            <div class="customCol">
            <p><strong>Email</strong><br>
                villalaisla@gmail.com<br>
                customerserviceVLI@gmail.com
            </p>
            </div>
        </div>
        

        <br>
        <div class="centertext">
        <ul class="footernav">
            <li class="footerlist"><a class="footerlink" href="/">VILLA LA ISLA</a></li>
            <li class="footerlist"><a class="footerlink" href="/resort">THE RESORT</a></li>
            <li class="footerlist"><a class="footerlink" href="/amenities">AMENITIES</a></li>
            <li class="footerlist"><a class="footerlink" href="/siargao">SIARGAO VILLAGE</a></li>
            <li class="footerlist"><a class="footerlink" href="/mykonos">MYKONOS VILLAGE</a></li>
            <li class="footerlist"><a class="footerlink" href="/toscana">TOSCANA VILLAGE</a></li>
            <li class="footerlist"><a class="footerlink" href="/villa">VILLAS</a></li>
            <li class="footerlist"><a class="footerlink" href="/about">ABOUT</a></li>
            {{#if user}} 
                <li class="footerlist"><a class="footerlink" href="/profile">PROFILE</a></li>
            {{/if}}
        </ul>
        <hr color="white">
        © 2020 Villa La Isla. All Rights Reserved</div>
</footer>