       <header>
        <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/"><img id="logo" src="img/villaLogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>       
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/about">THE RESORT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/amenities">AMENITIES</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                VILLAGES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/siargao">SIARGAO</a>
                  <a class="dropdown-item" href="/mykonos">MYKONOS</a>
                  <a class="dropdown-item" href="/toscana">TOSCANA</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/villa">VILLAS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">PROFILE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reservations">RESERVATIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/status">STATUS</a>
              </li>
            </ul>     
            <a href="/login" class="btn loginNav" role="button" aria-disabled="true">Login</a>
            </div>
          </nav>
          </header>
          <br>
          <br>