<div class="bodyClass">
      <h1>{{cap this.title}}</h1>
            <div class="container-fluid" >
            <div class="row justify-content-center">
                  <form>
                  <div class="card-group">
                    <div class="card cardCustom">
                      <div class="card-body reserveForm">
                        <h5 class="card-title">Check in</h5>
                        <input class="form-control card-text formBG" type="date" id="checkIn" placeholder="Check In" max = '2020-12-31'>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body reserveForm">
                        <h5 class="card-title">Check out</h5>
                        <input class="form-control card-text formBG" type="date" id="checkOut" placeholder="Check Out" max = '2020-12-31'>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body reserveForm">
                        <h5 class="card-title">Adults</h5>
                         <select class="custom-select formBG" id="adultNum">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                          </select>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body reserveForm">
                        <h5 class="card-title">Children</h5>
                        <select class="custom-select formBG" id="childNum">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                          </select>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body reserveForm">
                        <h5 class="card-title">Village</h5>
                         <select class="custom-select formBG" id="villageTheme">
                            <option value="siargao">Siargao</option>
                            <option value="mykonos">Mykonos</option>
                            <option value="toscana">Toscana</option>
                          </select>
                      </div>
                    </div>
                    <div class="card reserveLink">
                     <button class="card-body reserveCard" type="button" id="seeAvailable">
                          <h5 class="card-title reserveText">See Available Villas</h5>
                     </button>
                    </div>
                
                </form>
              </div>
            </div>
          <div class="container py-3">
            <p id="warning" class="warningText"></p>
          </div>
        <br><br><br>
          <div id="villaList">
          </div>
</div>

<script>
    //to set minimum date to today
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
    if(dd<10)
    {
      dd='0'+dd
    }
    if(mm<10)
    {
            mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("checkIn").setAttribute("min", today);
    document.getElementById("checkOut").setAttribute("min", today);

</script>
