<div class="bodyClass">
          <h1>{{cap this.title }}</h1>
          <br>
            <h4>NPM Packages</h4>
            <li>
                <ol>"body-parser": "^1.19.0"</ol>
                <ol>"connect-mongo": "^3.2.0"</ol>
                <ol>"cookie-parser": "^1.4.5"</ol>
                <ol>"express": "^4.17.1"</ol>
                <ol>"express-handlebars": "^3.1.0"</ol>
                <ol>"express-session": "^1.17.0"</ol>
                <ol>"express-validator": "^6.4.0"</ol>
                <ol>"handlebars": "^4.7.4"</ol>
                <ol>"moment": "^2.24.0"</ol>
                <ol>"mongodb": "^3.5.5"</ol>
                <ol>"mongoose": "^5.9.6"</ol>
            </li>

          <br>
            <h4>Third party libraries</h4>
            <li>
                <ol>Google Fonts</ol>
                <ol>Bootstrap</ol>
                <ol>jQuery library</ol>
                <ol>Popper JS</ol>
                <ol>Font Awesome Icon Library</ol>
            </li>
</div>