<div class="bodyClass">
  <div class="container">
          <h1>{{cap this.title }}</h1>
          <br>
          <div class="customRow">
            <div class="customCol">
            
              <ul class="villatype">
                  <h4>NPM Packages</h4>
                  <li>"bcrypt": "^4.0.1"</li>
                  <li>"body-parser": "^1.19.0"</li>
                  <li>"connect-mongo": "^3.2.0"</li>
                  <li>"cookie-parser": "^1.4.5"</li>
                  <li>"express": "^4.17.1"</li>
                  <li>"express-handlebars": "^3.1.0"</li>
                  <li>"express-session": "^1.17.0"</li>
                  <li>"express-validator": "^6.4.0"</li>
                  <li>"handlebars": "^4.7.4"</li>
                  <li>"moment": "^2.24.0"</li>
                  <li>"mongodb": "^3.5.5"</li>
                  <li>"mongoose": "^5.9.6"</li>
              </ul>
            </div>
            <div class="customCol">
              <ul class="villatype">
                  <h4>Third party libraries</h4>
                  <li>Google Fonts</li>
                  <li>Bootstrap</li>
                  <li>jQuery library</li>
                  <li>Popper JS</li>
                  <li>Font Awesome Icon Library</li>
              </ul>
            </div>
      </div>
  </div>
</div>