<div class="container">
<div class="bodyClass">
    <div class="row">
          <div class="col-sm-6 col-md-2">
           <!-- <img src="{{ imagePath }}" alt="Girl" class="img-rounded img-responsive profilepic" /> -->
           <img src="img/girl.png" alt="Girl" class="img-rounded img-responsive profilepic" />
          </div>
          <div class="col-sm-6 col-md-4">
              <br>
             <!-- <h4>{{ name }}</h4> -->
                <h4>Bea Gomez</h4>
              <!--  <i class="fas fa-user"></i> {{ username }} -->
                <i class="fas fa-user"></i>  @beagomez
                <br>
              <!--  <i class="fas fa-at"></i> {{ email }} -->
                <i class="fas fa-at"></i> beagomez@gmail.com
                <br><br>
                <a href="/logout" class="btn loginNav" role="button" aria-disabled="true">Logout</a>
          </div>
    </div>
    <br>
    <br>
    <br>
</div>
</div>