/* pictures */
#logo{
  float: left;
  width: 100px;
  height: 50px;
}

#mainLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 250px;
}

.homepic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 450px;
}

.typepic{
display: block;
margin-left: auto;
margin-right: auto;
width: 500px;
height: 350px;
}

.profilepic{
  display: block;
  width: 150px;
  height: 150px;
}

/* Villa Types */
.evenDiv{
background-color: rgb(235, 235, 235);
}

.paddingDiv{
margin-left: 25px;
margin-right: 25px;
}

.villatype{
list-style: circle;
}

.navli{
float: right;
}

/* body */
.bodyClass {
  font-family: 'Libre Franklin', sans-serif;
  background-color: rgb(255, 255, 255);
}

p{
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
}

h1{
  text-align: center;
}

table, th, td{
  text-align: center;
}

/* villa types */
.customRow {
  display: flex;
}

.customCol {
  flex: 50%;
  padding: 10px;

}


/* footer */
footer {
  font-size: small;
  background-color: rgb(66, 64, 64);
  margin-top: 350px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.568);
  position: relative;
  bottom: 0;
  clear:both;
   z-index: 1;

}

.centertext{
  text-align: center;
}

.footernav, .footerlist {
  list-style-type: none;
  display: inline;
  padding: 15px;
}

.footerlink{
  color: #f1f1f1;
  text-decoration: none;
}

.footerlink:hover{
  color: #95b8f0;

}


/*image slideshows*/
ol.carousel-indicators {
position: absolute;
bottom: 5px;
margin: 0;
left: 0;
right: 0;
width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
 width: .5rem;
 height: .5rem;
 margin: 0;
 border-radius: 50%;
 border: 0;
 background: transparent;
}

ol.carousel-indicators li {
background: rgba(255,255,255,0.39);
margin-left: .5rem;
margin-right: .5rem;
}

ol.carousel-indicators li.active {
background: rgba(255, 255, 255, 0.877);
}

.carousel {
width: 50%;
margin: auto;
}


/* home page for villages cards*/
#containerCard{
  padding: 10px;
  margin: 50px;
}

.borderPink{
  border: 2px solid #53959c;
}

.pCards{
  text-align: justify;
  margin: auto;
}

/* buttons */
.loginNav:hover{
  color: rgb(229, 226, 226) !important;
  background-color: rgb(0, 0, 0) !important;
}

.loginNav{
  color: rgb(229, 226, 226) !important;
  background-color: #53959c !important;
 }


.manageBtn:hover{
  color: rgb(255, 255, 255) !important;
  background-color: rgb(158, 33, 33) !important;
}

.manageBtn{
  background-color: #53959c !important;
  color: rgb(255, 255, 255);
 }

.centerReserveBtn{
  text-align: center;
}

/* for reserving */
  .reserveForm{
    background-color: #ffffff;
    border-left: 1px solid #53959c;
    border-right: 1px solid #53959c;
    border-top: 1px solid #53959c;
    border-bottom: 1px solid #53959c;
    margin-bottom: 0;
    position: relative;
  }

  .cardCustom{
    width: 500px;
  }

  .cardCustom2{
    width: 100px;
  }

  .card-title{
    color: #53959c;
  }

  .formBG{
    background-color:#ffffff !important;
    border: 1px solid #53959c !important;
    color: rgb(0, 0, 0) !important;
  }

  .reserveCard{
   background-color:#53959c;
    border-left: 2px solid #53959c;
    border-right: 2px solid #53959c;
    border-top: 2px solid #53959c;
    border-bottom: 2px solid #53959c;
    text-align: center;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 123px;
    height: 53px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 100px;
    text-transform: capitalize;
  }

  .reserveLink{
    text-decoration: none !important;
    text-align: center;
    border: none;
  }

  .reserveText{
    color: rgb(229, 226, 226);
    text-align: center;
    line-height: 10px;
  }

  .reserveText2{
    color: rgb(229, 226, 226);
    text-align: center;
    margin: auto;
    font-size: 25px;
    line-height: 35px;
    justify-content: center;
    position: relative;
    padding: 0px;
  }

  .reserveCard:hover{
  background-color: #363636 !important;
  }


/* login and signup */
.bodyMain, html{
  background-image: url("../img/bgpic2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
  color: white;

  }

.divcontainer{
  height: 100%;
  align-content: center;
  }


.login{
  height: 390px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }

.signup{
  height: 820px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }


.input-group-prepend span{
  width: 50px;
  background-color: #53959c;
  color: black;
  border:0 !important;
  }

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  }

.remember{
  color: white;
  }

.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }

.login_btn{
  color: rgb(229, 226, 226) !important;
  background-color: #53959c !important;
  width: 100px !important;
  }

.login_btn:hover{
  color: black;
  background-color: white;
  }

.links{
  color: white;
  }

.links a{
margin-left: 4px;
  }

.warningText{
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  margin:0;
  color: red;
}

.whiteIcon{
  color: white;
}

.formlink{
  color: #53959c;
  font-weight: bold;
}

/* Cancel Modal */
.modal .modal-dialog {
  max-width: 400px;
}

.modal .modal-content {
  border-radius: 3px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.cancel_btn{
  width: 100px !important;
}

.cancel_p{
  font-size: 14px;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

